nav {
    height: 64px;
    width: 100%;
    position: fixed;
    padding: 0 25px;
    background: #f2f2f2;
    border-bottom: 1px #dedede solid;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    line-height: 64px;
}

.menu-burger {
    font-size: 2.4rem;
    color: #333;
}

.menu-burger > .fa-times, .fa-bars {
    cursor: pointer;
}

.menu-burger > .fa-times {
    font-size: 2.6rem;
}

.menu-burger > .hidden {
    display: none;
}

.menu-logo {
    font-family: 'Pacifico', cursive;
    font-size: 3.2rem;
    color: #0794a7;
    cursor: pointer;
} 


.menu-search {
    display: none;
}

.menu-account {
    display: none;
}

@media(min-width: 900px) {

    .menu-burger {
        display: none;
    }

    .menu-search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-input {
        width: 35vw;
        padding: 7px 15px;
        border: 1px #dedede solid;
        font-size: 1.6rem;
        font-weight: 300;
    }

    .menu-input:focus {
        border: 1px #6ed6e4 solid;
    }

    .menu-account {
        display: flex;
        justify-content: space-around;
        min-width: 460px;
        align-items: center;
    }

    .menu-account .circle {
        position: absolute;
        margin-bottom: 10px;
        margin-left: 13px;
        background-color: #cd0000;
        border: 1px #cd0000 solid;
        height: 26px;
        width: 26px;
        /* padding: 5px 15px; */
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 24px;
        border-radius: 0% 0% 50% 50%;
    }

    .empty {
        margin-bottom: 0px;
    }

    .list-content {
        position: absolute;
        display: block;
        width: 140px;
        padding: 5px;
        z-index: 1;
        background-color: #0794a7;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .list-item a {
        margin: 0;
        padding: 0;
        height: 36px;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hide {
        display: none;
    }


}

@media(min-width: 1200px) {
    nav {
        padding: 0 7%;
    }
}

@media(min-width: 1600px) {

    nav {
        padding: 0 15%;
    }

    .menu-input {
        width: 25vw;
    }
} 