.product-details {
    margin: 30px 10px 0 10px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.details-image {
    max-width: 100%;
    max-height: 250px;
    display: flex;
    justify-content: center;
}

.details-image img {
    max-width: 80%;
    min-height: 100%;
}

.details-info {
    padding: 0 20px;
    font-size: 1.4rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.details-info div {
    margin-bottom: 8px;
}

.details-name {
    font-size: 2rem;
    font-weight: bold;
    color: #18a7b9;
    text-transform: uppercase;
}

.details-brand {
    font-weight: lighter;
}

.details-price {
    margin-top: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    color: #333;
}

.details-action {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-qty {
    padding-bottom: 15px;
}

.details-button {
    margin: 0 10px;
    background-color: transparent;
    border: 1px solid #000;
    font-weight: bold;
    font-size: 2rem;
    min-width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
}

.details-input {
    padding: 3px 0;
    width: 80px;
    font-size: 2rem;
    text-align: center;
}

button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

@media (orientation: landscape) {

    .details-image {
        justify-content: center;
        max-height: 350px;
    }

    .details-image img {
        max-width: 50%;
        min-height: 100%;
    }

    .details-info {
        padding: 0 60px;
    }
}

@media (min-width: 900px) {

    .product-details {
        margin: 40px 200px 0 200px;
        min-height: 600px;
        display: flex;
        flex-direction: row;
        padding: 20px 20px;
        justify-content: space-between;
    }

    .details-image {
        flex-basis: 40%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        max-height: 100%;
    }

    .details-image img {
        max-width: 75%;
        min-height: 30%;
    }

    .details-info {
        flex-basis: 40%;
        font-size: 1.6rem;
    }

    .details-info div {
        margin-bottom: 12px;
    }

    .details-name {
        font-size: 2.6rem;
    }

    .details-price {
        margin-top: 40px;
        font-size: 2.8rem;
    }

    .details-action {
        margin-top: 50px;
    }
}

